.featuring {
  margin: 60px 9%;
}

.featuring div {
  margin-top: 20px;
  display: flex;
  gap: 1px;
}

.featuring li {
  list-style-type: none;
}

.featuring div img {
  width: 100%;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 27%;
}

.collections {
  background-image: linear-gradient(rgba(0, 0, 0, 0.447), rgba(0, 0, 0, 0.447)), url("images/wallpaperu.jpg");
  background-size: cover;
  background-position: center;
  padding: 70px;
  color: gold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.collections img {
  margin-top: 27px;
  width: 34%;
  pointer-events: all;
  cursor: pointer;
}

.collections img:hover {
  transform: scale(1.15);
  transition: 1s;
}

.collections p {
  font-family: 'default';
}

.about-us {
  margin: 40px 15%;
}

.about-us p {
  margin: 30px auto 20px auto;
  color: gray;
  font-size: 1.3em;
}

.about-us a {
  color: black;
}

@media screen and (max-width: 930px) {
  .collections img {
    width: 330px;
    margin: 5px 0;
  }
  .collections {
    margin: 0;
    padding: 20px 0 14px;
  }

  .featuring {
    margin: 25px 10px;
  }

  .about-us {
    margin: 25px 20px;
    text-align: justify;
    text-align-last: center;
  }

  .about-us p {
    margin: 10px 0 15px;
  }

}