.special {
  font-weight: bold;
  color: gray;
}

.about-watch {
  width: 26%;
  padding: 30px 20px;
  text-align: left;
}

.about-watch p {
  margin: 20px 0;
}

main {
  display: flex;
}

.products {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.product {
  flex: 1;
  max-width: 195px;
  min-width: 150px;
  margin: 10px 0.5%;
  height: 330px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(214, 214, 214);
  align-items: center;
  color: black;
}

.product img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.prod-name {
  margin: 10px 0;
}

.prod-price {
  margin-top: auto;
  margin-bottom: 15px;
  font-size: 1.4rem;
  color: red;
}

.product:hover {
  border-color: rgb(66, 66, 66);
}

.watch {
  display: flex;
}

.watch-display {
  padding: 45px 0 30px;
  width: 50%;
}

.watch-info {
  padding: 50px 6%;
  width: 50%;
  background-color: rgb(244, 244, 244);
  text-align: left;
}

.watch .special {
  display: block;
  font-size: 1.8rem;
}

.watch-display img{
  width: 80%;
}

.watch h1 {
  color: gold;
  font-size: 2.05em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.watch .shop {
  display: flex;
  align-items: center;
  margin: 10px 0 15px;
}

.watch .price {
  color: rgb(237, 0, 0);
  font-size: 2.05em;
  display: inline-block;
}

.watch button {
  background-color: green;
  font-size: 1em;
  margin-left: 32px;
  padding: 0.5em 0.6em;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.watch button:hover {
  background-color: black;
  transition: 0.3s;
}

.watch hr {
  margin: 15px 0;
}

.watch pre {
  margin: 15px 0 35px;
}

.watch .special:last-of-type {
  font-size: 1.3em;
}

@media screen and (max-width: 930px) {
  main {
    flex-direction: column;
  }
  .about-watch {
    width: 100%;
    text-align: center;
  }
  
  .products {
    justify-content: center;
    flex-wrap: wrap;
  }

  .watch {
    flex-direction: column;
  }

  .watch-display {
    width: 100%;
    padding: 30px 0;
  }


  .watch-info {
    width: 100%;
    padding: 20px 27px 27px;
  }

  .watch .special {
    text-align: center;
  }

  .watch button {
    margin-left: auto;
    /* margin-right: 20px; */
  }

  .watch p {
    text-align: justify;
  }

  .watch h1 {
    text-align: center;
  }

}