.price-list {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(37, 37, 37);
  font-size: 1.4em;
  color: white;
  /* font-weight: bold; */
}

.price-list:hover {
  color: gold;
  transition: 0.3s;
}

.brand-list {
  display: flex;
  background:linear-gradient(rgb(229, 229, 229), white);
}

main img {
  width: 100%;
  object-fit: contain;
}
.brand:hover {
  background-image: none;
  background-color: rgb(255, 213, 77);
  transition: 1s;
}

@media screen and (max-width: 930px) {
  .price-list {
    font-size: 1.1em;
    padding: 12px;
  }

  .brand-list {
    flex-direction: column;
    align-items: center;
    background: none;
  }

  img {
    width: 200px;
    height: 100px;
  }

  .brand {
    width: 100%;
    border-bottom: none;
    background: linear-gradient(rgb(244, 244, 244), rgb(221, 221, 221));
  }


}


